{{#*inline "body"}}
<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#with author}}
            {{> partials/components/author-header}}
        {{/with}}
        {{> partials/components/list layout="grid" column="4" showPrimaryTag=true hasPagination=true}}
    </div>
</main>
{{/inline}}
{{> default}}