{{#*inline "body"}}
{{#with post}}

<main class="gh-main">
    {{> partials/components/article showPrimaryTag=true showComments=true}}
    {{> partials/components/cta title=@root.custom.email_signup_text}}
</main>

{{/with}}
{{/inline}}
{{> default}}